---js
const eleventyNavigation = {
	key: "Archive",
	order: 2
};

const title="Archive";
const layout="layouts/base.njk";
---
<h1>Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
